- 3년 이상 당기 순이익 추이를 확인 
- 영업이익 : 매출액 - 매출원가 - 판관비 
- 당기 순이익 : (영업이익+영업외이익+특별이익) - (영업외 비용+특별손실+법인세)

In [ ]:
import requests
from bs4 import BeautifulSoup

def get_financial_analysis_table(stock_code):
    url = f"https://finance.naver.com/item/main.naver?code={stock_code}"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # 기업실적분석 테이블을 포함한 부분을 선택
    table = soup.find('table', {'class': 'tb_type1 tb_num tb_type1_ifrs'})
    
    # 테이블 내용을 파싱하여 가져오기
    data = []
    if table:
        rows = table.find_all('tr')
        for row in rows:
            cols = row.find_all('td')
            cols = [col.text.strip() for col in cols]
            data.append(cols)
    
    return data

# 삼성전자의 기업실적분석 테이블 가져오기
stock_code = '005930'
financial_analysis_table = get_financial_analysis_table(stock_code)

# 항목값 출력
for row in financial_analysis_table:
    item_value = row[0]  # 각 행의 첫 번째 셀이 항목값
    print(item_value)

In [ ]:
import yfinance as yf
import pandas as pd

# 엔비디아(NVIDIA)의 심볼을 지정합니다.
symbol = 'NVDA'

# 최근 4년의 재무정보를 가져옵니다.
nvidia_annual = yf.Ticker(symbol).financials.loc['Revenue':'Net Income', '2022-01-30':'2025-01-30'].T

# 최근 5분기의 재무정보를 가져옵니다.
nvidia_quarterly = yf.Ticker(symbol).quarterly_financials.loc['Revenue':'Net Income'].T

# 결과를 출력합니다.
print("엔비디아(NVIDIA)의 최근 4년 재무정보:")
print(nvidia_annual)

print("\n엔비디아(NVIDIA)의 최근 5분기 재무정보:")
print(nvidia_quarterly)

# 데이터프레임으로 저장하기
nvidia_annual.to_csv('nvidia_annual_financials.csv')
nvidia_quarterly.to_csv('nvidia_quarterly_financials.csv')

In [15]:
symbol = '005930.KS'

df = yf.Ticker(symbol).financials.loc['Gross Profit':'Total Revenue'].T

In [28]:
import yfinance as yf
import pandas as pd

# 엔비디아(NVIDIA)의 심볼을 지정합니다.
symbol = '005930.KS'

# 최근 4년의 재무정보를 가져옵니다.
nvidia_annual = yf.Ticker(symbol).financials.loc['Gross Profit':'Total Revenue'].T

# 최근 5분기의 재무정보를 가져옵니다.
nvidia_quarterly = yf.Ticker(symbol).quarterly_financials.loc['Gross Profit':'Total Revenue'].T

# 결과를 출력합니다.
print("삼성전자의 최근 4년 재무정보:")
print(nvidia_annual)

print("\n삼성전자의 최근 5분기 재무정보:")
print(nvidia_quarterly)

삼성전자의 최근 4년 재무정보:
                 Gross Profit    Cost Of Revenue      Total Revenue
2023-12-31   78546914000000.0  180388580000000.0  258935494000000.0
2022-12-31  112189590000000.0  190041770000000.0  302231360000000.0
2021-12-31  113193457000000.0  166411342000000.0  279604799000000.0
2020-12-31   92318692000000.0  144488296000000.0  236806988000000.0

삼성전자의 최근 5분기 재무정보:
                Gross Profit   Cost Of Revenue     Total Revenue
2023-12-31  21664367000000.0  46115571000000.0  67779938000000.0
2023-09-30  20785926000000.0  46618726000000.0  67404652000000.0
2023-06-30  18358343000000.0  41647190000000.0  60005533000000.0
2023-03-31  17738278000000.0  46007093000000.0  63745371000000.0
2022-12-31  21836847000000.0  48627728000000.0  70464575000000.0

In [25]:

symbol = '005930.KS'

# 최근 4년의 재무정보를 가져옵니다.
nvidia_annual = yf.Ticker(symbol).financials.loc['Gross Profit':'Total Revenue'].T

In [88]:

import time
from py_lib.krx_lib import *
from pykrx import stock

def annual_quarterly_financials_info(ticker):
    try:
        symbol = ticker+'.KS'
        df_annual_financials_info = yf.Ticker(symbol).quarterly_financials.loc['Gross Profit':'Total Revenue'].T
        df_annual_financials_info.insert(0,'ticker',ticker)
        df_annual_financials_info.to_csv("annual_quarterly_financials_info.csv",mode='a', header=False)
    except KeyError:
        logging_text(ticker+"  annual_quarterly_financials_info 수집 불가 ")

def annual_financials_info(ticker):
    try:
        symbol = ticker+'.KS'
        df_annual_financials_info = yf.Ticker(symbol).financials.loc['Gross Profit':'Total Revenue'].T 
        df_annual_financials_info.insert(0,'ticker',ticker)
        df_annual_financials_info.to_csv("annual_financials_info.csv",mode='a', header=False)
    except KeyError:
        logging_text(ticker+"  annual_financials_info 수집 불가 ")


tickers = stock.get_market_ticker_list(market='KOSPI')
for i in tickers:
    annual_quarterly_financials_info(i)
    # annual_financials_info(i)
    time.sleep(1)

In [66]:
a = list(df_annual_financials_info.loc[df_annual_financials_info['Gross Profit'].isnull(),'ticker'])
b = list(df_annual_financials_info.loc[df_annual_financials_info['Cost Of Revenue'].isnull(),'ticker'])
c = list(df_annual_financials_info.loc[df_annual_financials_info['Total Revenue'].isnull(),'ticker'])
d = set(a+b+c)
d = list(d)
idx_a = df_annual_financials_info[df_annual_financials_info['ticker'].isin(d)].index
df_annual_financials_info_d = df_annual_financials_info.drop(idx_a)
df_annual_financials_info_d.to_csv('new_annual_financials_info.csv',index=False)
df = pd.read_csv('new_annual_financials_info.csv')
df.head(10)

In [91]:
df_annual_financials_info = pd.read_csv('./annual_quarterly_financials_info.csv')
a = list(df_annual_financials_info.loc[df_annual_financials_info['Gross Profit'].isnull(),'ticker'])
b = list(df_annual_financials_info.loc[df_annual_financials_info['Cost Of Revenue'].isnull(),'ticker'])
c = list(df_annual_financials_info.loc[df_annual_financials_info['Total Revenue'].isnull(),'ticker'])
d = set(a+b+c)
d = list(d)
idx_a = df_annual_financials_info[df_annual_financials_info['ticker'].isin(d)].index
df_annual_financials_info_d = df_annual_financials_info.drop(idx_a)
df_annual_financials_info_d.to_csv('new_annual_quarterly_financials_info.csv',index=False)
df = pd.read_csv('new_annual_quarterly_financials_info.csv')
df.head(10)

         date  ticker  Gross Profit  Cost Of Revenue  Total Revenue
0  2023-09-30  095570  1.390038e+11     1.219574e+11   2.609612e+11
1  2023-06-30  095570  1.436120e+11     9.615669e+10   2.397687e+11
2  2023-03-31  095570  1.203382e+11     1.336737e+11   2.540119e+11
3  2022-12-31  095570  1.151348e+11     1.681393e+11   2.832741e+11
4  2023-09-30  006840  2.750714e+11     8.651629e+11   1.140234e+12
5  2023-06-30  006840  2.655650e+11     8.155818e+11   1.081147e+12
6  2023-03-31  006840  2.968355e+11     8.054679e+11   1.102303e+12
7  2022-12-31  006840  2.445786e+11     7.682709e+11   1.012850e+12
8  2023-12-31  027410  3.653620e+10     8.685806e+10   1.233943e+11
9  2023-09-30  027410  4.175077e+10     6.742762e+10   1.091784e+11

In [93]:
import pandas as pd

# CSV 파일 경로
file_path = './new_annual_quarterly_financials_info.csv'

# CSV 파일 로드
data = pd.read_csv(file_path)

def is_increasing(series):
    """주어진 Series가 증가하는지 확인합니다."""
    return all(series.iloc[i] <= series.iloc[i+1] for i in range(len(series)-1))

# 각 ticker별로 'Gross Profit'과 'Total Revenue'가 증가하는지 확인
increasing_tickers = []
for ticker in data['ticker'].unique():
    ticker_data = data[data['ticker'] == ticker].sort_values('date')
    if is_increasing(ticker_data['Gross Profit']) and is_increasing(ticker_data['Total Revenue']):
        increasing_tickers.append(ticker)

fin_new_annual_financials_info = df_annual_financials_info_d[df_annual_financials_info_d['ticker'].isin(increasing_tickers)]
fin_new_annual_financials_info.to_csv('./fin_new_annual_quarterly_financials_info.csv',index=False)

In [111]:
file_path_quarterly_financials = './fin_new_annual_quarterly_financials_info.csv'
file_path_financials = './fin_new_annual_financials_info.csv'

df_quarterly_financials = pd.read_csv(file_path_quarterly_financials)
df_financials = pd.read_csv(file_path_financials)

In [112]:
df_quarterly_financials

          date  ticker  Gross Profit  Cost Of Revenue  Total Revenue
0   2023-09-30   79160  3.873265e+11     2.026366e+10   4.075901e+11
1   2023-06-30   79160  3.798793e+11     2.178482e+10   4.016641e+11
2   2023-03-31   79160  3.770066e+11     1.658828e+10   3.935949e+11
3   2022-12-31   79160  3.253424e+11     9.141262e+09   3.344837e+11
4   2022-12-31   17860  1.732606e+10     2.742111e+11   2.915372e+11
5   2023-09-30    3580  9.929100e+09     1.279817e+10   2.272727e+10
6   2023-06-30    3580  9.309560e+09     1.119214e+10   2.050170e+10
7   2023-03-31    3580  8.306026e+09     9.817772e+09   1.812380e+10
8   2022-12-31    3580  6.995873e+08     8.774513e+09   9.474100e+09
9   2023-09-30  302440  1.054818e+11     1.263445e+11   2.318263e+11
10  2023-06-30  302440  6.480732e+09     1.999750e+10   2.647823e+10
11  2023-03-31  302440  8.851208e+08     1.971171e+10   2.059683e+10
12  2023-09-30  465770  4.794087e+08     2.294338e+09   2.773746e+09
13  2023-09-30    3230  1.171609e+11     2.180858e+11   3.352466e+11
14  2023-06-30    3230  1.007988e+11     1.845620e+11   2.853608e+11
15  2023-03-31    3230  7.037984e+10     1.751820e+11   2.455619e+11
16  2022-12-31    3230  6.969592e+10     1.703115e+11   2.400074e+11
17  2023-09-30   13000  1.202477e+09     8.697373e+09   9.899851e+09
18  2023-06-30   13000  1.154812e+09     8.495568e+09   9.650380e+09
19  2023-03-31   13000  1.111237e+09     6.366028e+09   7.477265e+09
20  2022-12-31   13000  9.384555e+08     5.497397e+09   6.435852e+09
21  2023-09-30   26890  1.720758e+10     7.409204e+08   1.794850e+10
22  2023-06-30   26890  1.522860e+10     5.855106e+08   1.581411e+10
23  2023-03-31   26890  1.271903e+10     6.164466e+08   1.333547e+10
24  2022-12-31   26890  6.003745e+09     4.753644e+09   1.075739e+10
25  2023-12-31  462520  3.884226e+10     1.173169e+11   1.561592e+11
26  2023-09-30  462520  1.926844e+10     1.039393e+11   1.232077e+11
27  2023-09-30   44820  3.111657e+10     1.364173e+11   1.675339e+11
28  2023-06-30   44820  2.846469e+10     1.271635e+11   1.556282e+11
29  2023-03-31   44820  2.343481e+10     1.261472e+11   1.495820e+11
30  2022-12-31   44820  1.641898e+10     1.281989e+11   1.446179e+11
31  2023-09-30    3350  5.447709e+09     2.272384e+10   2.817155e+10
32  2023-06-30    3350  5.311374e+09     2.246058e+10   2.777195e+10
33  2023-03-31    3350  5.006636e+09     2.190154e+10   2.690818e+10
34  2022-12-31    3350  2.720785e+09     1.760529e+10   2.032608e+10
35  2023-09-30  453340  1.016051e+11     4.729829e+11   5.745879e+11
36  2023-06-30  453340  9.173135e+10     4.287460e+11   5.204774e+11
37  2023-03-31  453340  3.305591e+10     1.414273e+11   1.744832e+11