In [5]:
import sys,os
sys.path.append(os.pardir)
from py_lib.krx_lib import *

df1 = pd.read_csv('./data/ticker_list.csv',index_col=0)
df1 = df1[df1['use_yn']=='Y']
df1

     ticker ticker_name              comment   insert_dt   update_dt use_yn
0    095570      AJ네트웍스                    -  2024-03-15  2024-03-15      Y
1    006840       AK홀딩스                    -  2024-03-15  2024-03-15      Y
2    027410         BGF                    -  2024-03-15  2024-03-15      Y
3    282330      BGF리테일                    -  2024-03-15  2024-03-15      Y
4    138930     BNK금융지주                    -  2024-03-15  2024-03-15      Y
..      ...         ...                  ...         ...         ...    ...
948  307950         휴비스        현대오토에버 -> 휴비스  2024-03-19  2024-03-19      Y
949  005385         휴스틸          현대차우 -> 휴스틸  2024-03-19  2024-03-19      Y
950  005440        흥국화재     현대지에프홀딩스 -> 흥국화재  2024-03-19  2024-03-19      Y
951  227840       흥국화재우  현대코퍼레이션홀딩스 -> 흥국화재우  2024-03-19  2024-03-19      Y
952  001500        흥아해운        현대차증권 -> 흥아해운  2024-03-19  2024-03-19      Y

[953 rows x 6 columns]

In [70]:
import random

dummey_list= stock.get_market_ticker_list(market='KOSPI')
print(len(dummey_list))
n = 10  # 생성할 랜덤 값의 개수
a = 1  # 범위의 시작 값
b = len(dummey_list)  # 범위의 끝 값
random_values = [random.randint(a, b) for _ in range(n)]  # a와 b 사이의 랜덤 정수 값 생성

print(random_values)

# 리스트 컴프리헨션을 사용하여 특정 인덱스의 값을 제외하고 새로운 리스트 생성
dummey_list = [value for index, value in enumerate(dummey_list) if index not in random_values]
print(len(dummey_list))

953
[174, 353, 517, 292, 46, 884, 341, 638, 250, 85]
943

In [9]:
df = stock.get_market_ohlcv("20240319", market="KOSPI")

In [10]:
df

            시가      고가      저가      종가      거래량         거래대금   등락률
티커
095570    4730    5180    4730    4925  1416077   7014663275  4.45
006840   15560   15570   15510   15540     4019     62430360 -0.13
027410    3805    3865    3775    3860    85846    326795080  1.31
282330  119300  119600  117700  118400    78328   9282568800 -0.75
138930    7940    8070    7930    7940  2600342  19625023230 -1.12
...        ...     ...     ...     ...      ...          ...   ...
079980    3945    3955    3905    3940    64584    253795210 -0.25
005010    5120    5120    5050    5070   204391   1037930580  0.00
000540    4540    4825    4420    4450   899756   4136731650 -1.11
000545    6810    8040    6770    6770   257157   1954554740  9.37
003280    2775    2785    2570    2705  2093191   5598867380 -3.39

[953 rows x 7 columns]

In [23]:
df_market_cap = stock.get_market_cap('20240319')
df_market_cap

            종가             시가총액       거래량           거래대금       상장주식수
티커
005930   72800  434600169640000  15376066  1109067418300  5969782550
000660  160200  116625978873000   4159293   662956945327   728002365
373220  403000   94302000000000    118968    48166724000   234000000
207940  848000   60355552000000     58733    49896318000    71174000
005935   61800   50854398060000   1056345    65119959023   822886700
...        ...              ...       ...            ...         ...
288490      49       2568321868    129543        5965015    52414732
245450    1550       2448938000        22          34150     1579960
217320    2040       2142000000       202         416880     1050000
322190      99        883594503         0              0     8925197
308700     199        796000000        11           2225     4000000

[2800 rows x 5 columns]

In [18]:
df_market_cap

            종가             시가총액       거래량           거래대금       상장주식수
티커
005930   72800  434600169640000  15376066  1109067418300  5969782550
000660  160200  116625978873000   4159293   662956945327   728002365
373220  403000   94302000000000    118968    48166724000   234000000
207940  848000   60355552000000     58733    49896318000    71174000
005935   61800   50854398060000   1056345    65119959023   822886700
...        ...              ...       ...            ...         ...
288490      49       2568321868    129543        5965015    52414732
245450    1550       2448938000        22          34150     1579960
217320    2040       2142000000       202         416880     1050000
322190      99        883594503         0              0     8925197
308700     199        796000000        11           2225     4000000

[2800 rows x 5 columns]

In [19]:
import sys,os
sys.path.append(os.pardir)
from py_lib.krx_lib import *

df1 = pd.read_csv('./data/ticker_list.csv',index_col=0)
df1 = df1[df1['use_yn']=='Y']
df1

     ticker ticker_name comment   insert_dt   update_dt use_yn
0    095570      AJ네트웍스       -  2024-03-15  2024-03-15      Y
1    006840       AK홀딩스       -  2024-03-15  2024-03-15      Y
2    027410         BGF       -  2024-03-15  2024-03-15      Y
3    282330      BGF리테일       -  2024-03-15  2024-03-15      Y
4    138930     BNK금융지주       -  2024-03-15  2024-03-15      Y
..      ...         ...     ...         ...         ...    ...
948  011210        현대위아    신규추가  2024-03-19  2024-03-19      Y
949  088350        한화생명    신규추가  2024-03-19  2024-03-19      Y
950  130660        한전산업    신규추가  2024-03-19  2024-03-19      Y
951  005387      현대차2우B    신규추가  2024-03-19  2024-03-19      Y
952  00088K       한화3우B    신규추가  2024-03-19  2024-03-19      Y

[953 rows x 6 columns]

In [45]:
df_market_cap.loc[df1['ticker']]

            종가           시가총액      거래량         거래대금      상장주식수
티커
095570    4925   222869838075  1416077   7014663275   45252759
006840   15540   205867097940     4019     62430360   13247561
027410    3860   369466813260    85846    326795080   95716791
282330  118400  2046414470400    78328   9282568800   17283906
138930    7940  2557382197720  2600342  19625023230  322088438
...        ...            ...      ...          ...        ...
011210   58100  1580034322300   115298   6709448400   27195083
088350    3160  2744554800000  1968818   6276180885  868530000
130660    7530   245478000000   217250   1657369880   32600000
005387  150100  5421701609700   241346  36430903100   36120597
00088K   15090   339102480000    17587    264921670   22472000

[953 rows x 5 columns]

In [29]:
df_market_cap.loc['130660']

종가               7530
시가총액     245478000000
거래량            217250
거래대금       1657369880
상장주식수        32600000
Name: 130660, dtype: int64