In [1]:
import sys, os
sys.path.append(os.pardir)  # 부모 디렉터리의 파일을 가져올 수 있도록 설정
from py_lib.krx_lib import *
from py_class.load_ticker_data import load_ticker_list
old= load_ticker_list()
old_ticker = old.df_ticker

tickers = stock.get_market_ticker_list(market='KOSPI')
# print(tickers)
# tickers = np.array(tickers)
data = { 
    "ticker" : tickers
}
new_tickers = pd.DataFrame(data)
# tickers_len = tickers.shape[0]
ticker_name = []

for i in range(len(data["ticker"])):
    ticker_name.append(stock.get_market_ticker_name(data["ticker"][i]))

new_tickers.insert(1,"ticker_name",ticker_name,True)
# new_tickers.to_csv(ticker_dir)
changes  = new_tickers[new_tickers['ticker'].isin(old_ticker['ticker'])]
changes = changes[changes['ticker_name'] != old_ticker['ticker_name']]

In [2]:
changes

     ticker ticker_name
14   097950      CJ제일제당
26   375500       DL이앤씨
35   365550  ESR켄달스퀘어리츠
47   294870   HDC현대산업개발
61   035000        HS애드
157  096770     SK이노베이션

In [3]:
old_ticker.loc[old_ticker['ticker'].isin(changes['ticker'])]

     ticker ticker_name  comment   insert_dt   update_dt
14   097950      CJxd제당      NaN  2024-03-15  2024-03-15
26   375500       DL이d씨      NaN  2024-03-15  2024-03-15
35   365550    ESd스퀘어리츠      NaN  2024-03-15  2024-03-15
47   294870     HDCd업개발      NaN  2024-03-15  2024-03-15
61   035000        HSx드      NaN  2024-03-15  2024-03-15
157  096770        SKn션      NaN  2024-03-15  2024-03-15

In [4]:
# old_ticker[old_ticker['ticker']=='001045',ticker_name] = 'CJ대한통운'
old_ticker.loc[old_ticker['ticker'].isin(changes['ticker']),'comment'] = old_ticker['ticker_name']+' -> '+changes['ticker_name']
old_ticker.loc[old_ticker['ticker'].isin(changes['ticker']),'ticker_name'] = changes['ticker_name']
old_ticker.loc[old_ticker['ticker'].isin(changes['ticker']),'update_dt'] = DateConverter.convert_to_dash_format(StockDay.get_now_date())

C:\Users\hopes\AppData\Local\Temp\ipykernel_38716\547263090.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['CJxd제당 -> CJ제일제당' 'DL이d씨 -> DL이앤씨' 'ESd스퀘어리츠 -> ESR켄달스퀘어리츠'
 'HDCd업개발 -> HDC현대산업개발' 'HSx드 -> HS애드' 'SKn션 -> SK이노베이션']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  old_ticker.loc[old_ticker['ticker'].isin(changes['ticker']),'comment'] = old_ticker['ticker_name']+' -> '+changes['ticker_name']

In [5]:
old_ticker.loc[old_ticker['ticker'].isin(changes['ticker'])]

     ticker ticker_name                 comment   insert_dt   update_dt
14   097950      CJ제일제당        CJxd제당 -> CJ제일제당  2024-03-15  2024-03-15
26   375500       DL이앤씨          DL이d씨 -> DL이앤씨  2024-03-15  2024-03-15
35   365550  ESR켄달스퀘어리츠  ESd스퀘어리츠 -> ESR켄달스퀘어리츠  2024-03-15  2024-03-15
47   294870   HDC현대산업개발    HDCd업개발 -> HDC현대산업개발  2024-03-15  2024-03-15
61   035000        HS애드            HSx드 -> HS애드  2024-03-15  2024-03-15
157  096770     SK이노베이션         SKn션 -> SK이노베이션  2024-03-15  2024-03-15